/* 
Colors:
#93AB5E light green
#799967 dark green
#f3ebce white
#335583 blue
*/


/* general styles */

html, body{
    background-color: #93AB5E;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    padding: 60px 10px 0 10px;
}

.custom-container{
    margin-bottom: 1rem;
    padding: 15px 20px 2px 20px;
    background-color: #799967;
}

.title{
    margin-left: 1rem;
}

/* navbar styles */

.icon{
    max-height: 40px;
    position: fixed;
    top: 8px;
    left: 1%;
}

nav, .navbar{
    background-color: #f3ebce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu{
    background-color: transparent;
    border: 0;
}

/* header styles */
.header{
    position: relative;
    background: url(../images/SAFEGUARD-hero-image.webp) no-repeat center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.header h1{
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.header p {
    position: absolute;
    bottom: 30px;
    width: 90%;
    text-align: center;
    text-wrap: wrap;
}


/* inline scroller styles */
.card-scroller{
    display: grid;
    gap: 10px;
    padding: 2px 0;
    grid-auto-flow: column;
    grid-auto-columns: 94%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.card{
    display: grid;
    gap: 0.7rem;
    padding: 1rem;
    background-color: #335583;
    border-radius: 10px;
}

.card > img{
    max-width: 100%;
    object-fit: cover;
}

/* footer styles */
.footer{
    background-color: #f3ebce;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    position: flow;
}

/* media queries for adaptive layout */
/* medium size screens */
@media screen and (min-width: 769px){
    /* navbar styles */
    .icon{
        left: 1%;
    }
    
    div, .navbar-nav{
        top: 6px;
    }

    a, .nav-link{
        margin-left: 3%;
    }

    .dropdown-toggle{
        top: 0px;
    }    

    /* inline scroller styles */
    .card-scroller{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 48%;
    }
}

/* large screens */
@media screen and (min-width: 1280px){
    main{
        padding: 60px 10px 0 10px;
    }

    /* header styles */
    .header{
        height: 1008px;
        background-size: cover;
    }
    
    .header h1{
        top: 30px;
    }

    .header p{
        width: 50%;
    }

    /* navbar styles */
    .icon{
        left: 10px;
        top: 8px;
    }

    div, .dropdown{
        top: 0px;
    }

    .nav-link{
        text-wrap: nowrap;
    }


    /* inline scroller styles */
    .card-scroller{
        display: grid;
        gap: 0.4%;
        grid-auto-flow: column;
        grid-auto-columns: 24.7%;
    }


}

