/* 
Colors:
#93AB5E light green
#799967 dark green
#f3ebce white
#335583 blue
*/


/* general styles */

html, body{
    background-color: #93AB5E;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    padding: 56px 10px 0 10px;
}

.custom-section{
    background-color: #799967;
    border-radius: 3px;
}

.custom-container{
    margin-bottom: 10px;
    padding: 5px 10px;
    box-shadow: 0px 3px 5px;
}


.title{
    margin-left: 1rem;
}

.bold-text{
    font-weight: 600;
}

/* navbar styles */

.icon{
    max-height: 40px;
    top: 8px;
    left: 1%;
}

.navbar-right{
    display: none;
}

.navbar{
    background-color: #f3ebce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link .navbar-brand .navbar-right{
    margin: 0 1.5%;
    text-wrap: nowrap;
}

.dropdown-menu{
    background-color: #f3ebce;
    border: 0;
    margin-top: 1rem;
}


/* header styles */
.header{
    position: relative;
    background: url(../images/SAFEGUARD-hero-image.webp) no-repeat center / cover;
    height: 608px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header h1{
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.header p {
    position: absolute;
    bottom: 30px;
    width: 90%;
    text-align: center;
    text-wrap: wrap;
}

/* intro styles */
#intro > p{
    margin-bottom: 5px;
}

#intro-title{
    font-size: 1.5rem;
}

/* warning signs section */

details > ul{
    margin-bottom: 0;
}

ul > details{
    background-color: #799967 ;
    margin: 10px 8px;
    border-radius: 3px;
    box-shadow: 0 3px 7px black;
}

.custom-container > details{
    padding-right: 10px;
    background-color: #93AB5E ;
    margin: 10px 0px;
    border-radius: 3px;
    box-shadow: 0 3px 7px black;
}

details, .bold-text > *{
    padding: 5px 0 5px 5px;
}


/* inline scroller styles */
.card-scroller{
    display: grid;
    padding: 2px 0;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 94%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.card{
    display: grid;
    padding: 1rem;
    background-color: #335583;
    border-radius: 5px;
}

.card > img{
    max-width: 100%;
    object-fit: cover;
}

/* footer styles */
.footer{
    background-color: #f3ebce;
    width: 100%;
    height: auto;
    padding: 10px;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-box{
    width: 500px;
    height: auto;
    text-wrap: wrap;
    overflow-wrap: normal;
    margin-top: 20px;
}

.social-box{
    display: flex;
    justify-content: space-between;
}

.social-box i{
    font-size: 150%;
    padding: 5%;
    color: black;
}

.footer, p{
    margin-bottom: 0;
}

/* media queries for adaptive layout */
/* medium size screens */
@media screen and (min-width: 769px){
    /* navbar styles */
    .icon{
        left: 1%;
    }
    
    div, .navbar-nav{
        top: 6px;
    }


    .dropdown-toggle{
        top: 0px;
    }    

    div, .dropdown{
        top: 0px;
    }


    /* inline scroller styles */
    .card-scroller{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 48%;
    }
}

/* for hero image sizing over its max width */
@media screen and (min-width: 1008px){
    .header{
        width: auto;
        height: auto;
    }

    .image-fill{
        height: calc(100vw*(608/1008));
        width: 100%;
    }


}

/* media querie for stytling footer */
@media screen and (min-width: 990px){
   /* foter styles */
   .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
   
    .footer-box{
        width: 300px;
    }
}

/* large screens */
@media screen and (min-width: 1280px){

    /* header styles */

    .header h1{
        top: 30px;
    }

    .header p{
        width: 50%;
    }

    /* navbar styles */
    .icon{
        left: 10px;
        top: 8px;
    }
    
    .navbar-right{
        opacity: 0;
        display: flex;
        margin-left: 16px;
    }


    /* inline scroller styles */
    .card-scroller{
        display: grid;
        gap: 0.4%;
        grid-auto-flow: column;
        grid-auto-columns: 24.7%;
    }

}

